/java web/Web Ban Hang/DoAn/dist/
/java web/Web Ban Hang/Admin_v01/build/
/java web/Web Ban Hang/Admin_v01/nbproject/private/
/java web/Web Ban Hang/Client_v01/nbproject/private/
/java web/project/LoginLogout/build/
/java web/project/LoginLogout/dist/
/java web/project/LoginLogout/nbproject/private/
/java web/project/Web Ban Hang/Admin_v01/build/
/java web/project/Web Ban Hang/Admin_v01/nbproject/private/
/java web/project/Web Ban Hang/Client_v01/nbproject/private/
/java web/project/Web Ban Hang/Test_v24_12_2018_sua/Test/build/
/java web/project/Web Ban Hang/Test_v24_12_2018_sua/Test/nbproject/private/
/java web/project/Web_NIJIT/build/
/java web/project/Web_NIJIT/dist/
/java web/project/Web_NIJIT/nbproject/private/
/java web/project/jdbcdemo/build/
/java web/project/jdbcdemo/dist/
/java web/project/jdbcdemo/nbproject/private/
/java web/project/do an/Client_v01/build/
/java web/project/do an/Adminv02/nbproject/private/
/java web/project/do an/Admin_v02/nbproject/private/
/java web/project/do an/version 1/Admin_v01/build/
/java web/project/do an/version 1/Admin_v01/nbproject/private/
/java web/project/do an/version 1/Client_v01/build/
/java web/project/do an/version 1/Client_v01/nbproject/private/
/java web/project/do an/version 2/Client_v02/dist/
/java web/project/do an/version 2/Client_v02/build/
/java web/project/do an/version 2/Client_v02/nbproject/private/