<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SanPhamServlet</servlet-name>
        <servlet-class>Controller.SanPhamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamServletDm</servlet-name>
        <servlet-class>Controller.SanPhamServletDm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHang</servlet-name>
        <servlet-class>Controller.GioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemGioHang</servlet-name>
        <servlet-class>Controller.ThemGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangNew</servlet-name>
        <servlet-class>GioHangNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>Controller.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>Controller.deleteItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SanPhamServlet</servlet-name>
        <url-pattern>/SanPhamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamServletDm</servlet-name>
        <url-pattern>/SanPhamServletDm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHang</servlet-name>
        <url-pattern>/GioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemGioHang</servlet-name>
        <url-pattern>/ThemGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangNew</servlet-name>
        <url-pattern>/GioHangNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/GioHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
