<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginComsumer</servlet-name>
        <servlet-class>control.LoginComsumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToan</servlet-name>
        <servlet-class>control.ThanhToan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginComsumer</servlet-name>
        <url-pattern>/LoginComsumer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InnsertComsumer</servlet-name>
        <servlet-class>control.InnsertComsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InnsertComsumer</servlet-name>
        <url-pattern>/InnsertComsumer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToan</servlet-name>
        <url-pattern>/ThanhToan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
