USE [DoAn]
GO
/****** Object:  Table [dbo].[tbl_album_anh]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_album_anh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[anh1] [nvarchar](250) NULL,
	[anh2] [nvarchar](250) NULL,
	[anh3] [nvarchar](250) NULL,
	[anh4] [nvarchar](250) NULL,
	[temp] [int] NULL,
 CONSTRAINT [PK_tbl_album_anh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_chitietdonhang]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_chitietdonhang](
	[id_dondathang] [int] NOT NULL,
	[id_sanpham] [int] NOT NULL,
	[soluong] [int] NULL,
	[gia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dondathang] ASC,
	[id_sanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_danhmuc]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_danhmuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_dondathang]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dondathang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_khachhang] [int] NULL,
	[id_nhanvien] [int] NULL,
	[ngaylap] [date] NULL,
	[tonggia] [decimal](18, 0) NULL,
	[tinhtrang] [nvarchar](50) NULL,
	[ghichu] [nvarchar](50) NULL,
 CONSTRAINT [PK__tbl_dond__3213E83F268A181D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_khachhang]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_khachhang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[sdt] [decimal](18, 0) NULL,
	[id_themdiachi] [int] NOT NULL,
	[matkhau] [nchar](10) NULL,
	[email] [varchar](100) NULL,
 CONSTRAINT [PK__tbl_khac__3213E83F5332CA3F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_nguoinhan]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nguoinhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[sdt] [nchar](10) NULL,
	[diachi1] [nvarchar](250) NULL,
	[diachi2] [nvarchar](250) NULL,
	[diachi3] [nvarchar](250) NULL,
 CONSTRAINT [PK_tbl_nguoinhan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_nhanvien]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_nhanvien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[sdt] [decimal](18, 0) NULL,
	[email] [varchar](100) NULL,
	[ngaysinh] [date] NULL,
 CONSTRAINT [PK__tbl_nhan__3213E83F7D0D328F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_nhasanxuat]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_nhasanxuat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_quyen]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_quyen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_sanpham]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_sanpham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_danhmuc] [int] NULL,
	[ten] [nvarchar](150) NULL,
	[id_album_anh] [int] NULL,
	[gia] [decimal](12, 0) NULL,
	[soluong] [int] NULL,
	[trongluong] [nchar](10) NULL,
	[ROM] [nchar](10) NULL,
	[RAM] [nchar](10) NULL,
	[thenho] [nvarchar](50) NULL,
	[camera_truoc] [nchar](10) NULL,
	[camera_sau] [nchar](10) NULL,
	[pin] [int] NULL,
	[baohanh] [nchar](50) NULL,
	[bluetooth] [int] NULL,
	[id_nhasanxuat] [int] NULL,
	[CPU] [varchar](50) NULL,
	[manhinh] [nvarchar](50) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_tbl_sanpham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_taikhoan]    Script Date: 24-Dec-18 11:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_taikhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_quyen] [int] NULL,
	[id_nv] [int] NULL,
	[tentaikhoan] [nvarchar](50) NULL,
	[matkhau] [varchar](30) NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK__tbl_nguo__3213E83FE3021EEB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_album_anh] ON 

INSERT [dbo].[tbl_album_anh] ([id], [anh1], [anh2], [anh3], [anh4], [temp]) VALUES (1, N'http://vn-test-11.slatic.net/original/14a2bfc5860bf1d4fb8eb7ed724da646.jpg_720x720q80.jpg_.webp', N'http://vn-test-11.slatic.net/original/a4e5fc9339be99428aede0c7cbd4c9b5.jpg_720x720q80.jpg_.webp', N'http://vn-test-11.slatic.net/original/026689afa37fba2ba7dbb197689f2b35.jpg_720x720q80.jpg_.webp', N'http://vn-test-11.slatic.net/original/3b1834eb79e643b33b9d42a9de07b69f.jpg_720x720q80.jpg_.webp', 1)
INSERT [dbo].[tbl_album_anh] ([id], [anh1], [anh2], [anh3], [anh4], [temp]) VALUES (2, N'http://vn-test-11.slatic.net/original/14a2bfc5860bf1d4fb8eb7ed724da646.jpg_720x720q80.jpg_.webp', N'http://vn-test-11.slatic.net/original/a4e5fc9339be99428aede0c7cbd4c9b5.jpg_720x720q80.jpg_.webp', N'http://vn-test-11.slatic.net/original/026689afa37fba2ba7dbb197689f2b35.jpg_720x720q80.jpg_.webp', N'http://vn-test-11.slatic.net/original/3b1834eb79e643b33b9d42a9de07b69f.jpg_720x720q80.jpg_.webp', 1)
SET IDENTITY_INSERT [dbo].[tbl_album_anh] OFF
INSERT [dbo].[tbl_chitietdonhang] ([id_dondathang], [id_sanpham], [soluong], [gia]) VALUES (1, 1, 1, CAST(35000000 AS Decimal(18, 0)))
INSERT [dbo].[tbl_chitietdonhang] ([id_dondathang], [id_sanpham], [soluong], [gia]) VALUES (2, 2, 1, CAST(40000000 AS Decimal(18, 0)))
INSERT [dbo].[tbl_chitietdonhang] ([id_dondathang], [id_sanpham], [soluong], [gia]) VALUES (2, 5, 1, CAST(30000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[tbl_danhmuc] ON 

INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (1, N'Điện thoai')
INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (2, N'Tablet    ')
INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (3, N'Phụ Kiện  ')
SET IDENTITY_INSERT [dbo].[tbl_danhmuc] OFF
SET IDENTITY_INSERT [dbo].[tbl_dondathang] ON 

INSERT [dbo].[tbl_dondathang] ([id], [id_khachhang], [id_nhanvien], [ngaylap], [tonggia], [tinhtrang], [ghichu]) VALUES (1, 1, 1, CAST(0xB63D0B00 AS Date), CAST(35000000 AS Decimal(18, 0)), N'đã thanh toán', N'có')
INSERT [dbo].[tbl_dondathang] ([id], [id_khachhang], [id_nhanvien], [ngaylap], [tonggia], [tinhtrang], [ghichu]) VALUES (2, 2, 2, CAST(0xD53D0B00 AS Date), CAST(70000000 AS Decimal(18, 0)), N'đã thanh toán', N'không')
INSERT [dbo].[tbl_dondathang] ([id], [id_khachhang], [id_nhanvien], [ngaylap], [tonggia], [tinhtrang], [ghichu]) VALUES (3, 3, 3, CAST(0xB83D0B00 AS Date), CAST(32000000 AS Decimal(18, 0)), N'đã thanh toán', N'ko')
SET IDENTITY_INSERT [dbo].[tbl_dondathang] OFF
SET IDENTITY_INSERT [dbo].[tbl_khachhang] ON 

INSERT [dbo].[tbl_khachhang] ([id], [ten], [sdt], [id_themdiachi], [matkhau], [email]) VALUES (1, N'Lê Văn A', CAST(101 AS Decimal(18, 0)), 1, N'123       ', N'levana@gmail.com')
INSERT [dbo].[tbl_khachhang] ([id], [ten], [sdt], [id_themdiachi], [matkhau], [email]) VALUES (2, N'Lê Văn B', CAST(102 AS Decimal(18, 0)), 2, N'123       ', N'levanb@gmail.com')
INSERT [dbo].[tbl_khachhang] ([id], [ten], [sdt], [id_themdiachi], [matkhau], [email]) VALUES (3, N'Lê Văn C', CAST(103 AS Decimal(18, 0)), 1, N'123       ', N'levanc@gmail.com')
SET IDENTITY_INSERT [dbo].[tbl_khachhang] OFF
SET IDENTITY_INSERT [dbo].[tbl_nguoinhan] ON 

INSERT [dbo].[tbl_nguoinhan] ([id], [ten], [sdt], [diachi1], [diachi2], [diachi3]) VALUES (1, N'Lê Văn A', N'101       ', N'Hà Đông', N'Cầu Giấy', N'Thanh Xuân')
INSERT [dbo].[tbl_nguoinhan] ([id], [ten], [sdt], [diachi1], [diachi2], [diachi3]) VALUES (2, N'Lê Văn B', N'102       ', N'Kim Anh', N'Hai Bà Trưng', N'Hồ Tây')
INSERT [dbo].[tbl_nguoinhan] ([id], [ten], [sdt], [diachi1], [diachi2], [diachi3]) VALUES (3, N'Lê Văn C', N'103       ', N'Ba Đình', N'Long Biên', N'Từ Liêm')
SET IDENTITY_INSERT [dbo].[tbl_nguoinhan] OFF
SET IDENTITY_INSERT [dbo].[tbl_nhanvien] ON 

INSERT [dbo].[tbl_nhanvien] ([id], [ten], [sdt], [email], [ngaysinh]) VALUES (1, N'Trần Văn A', CAST(201 AS Decimal(18, 0)), N'tranvana@gmail.com', CAST(0xDF1F0B00 AS Date))
INSERT [dbo].[tbl_nhanvien] ([id], [ten], [sdt], [email], [ngaysinh]) VALUES (2, N'Trần Văn B', CAST(202 AS Decimal(18, 0)), N'tranvanb@gmail.com', CAST(0xE01F0B00 AS Date))
INSERT [dbo].[tbl_nhanvien] ([id], [ten], [sdt], [email], [ngaysinh]) VALUES (3, N'Trần Văn C', CAST(203 AS Decimal(18, 0)), N'tranvanc@gmail.com', CAST(0xE11F0B00 AS Date))
SET IDENTITY_INSERT [dbo].[tbl_nhanvien] OFF
SET IDENTITY_INSERT [dbo].[tbl_nhasanxuat] ON 

INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (1, N'Apple')
INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (2, N'Samsung')
INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (3, N'Oppo')
SET IDENTITY_INSERT [dbo].[tbl_nhasanxuat] OFF
SET IDENTITY_INSERT [dbo].[tbl_quyen] ON 

INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (1, N'admin')
INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (2, N'nhanvien')
SET IDENTITY_INSERT [dbo].[tbl_quyen] OFF
SET IDENTITY_INSERT [dbo].[tbl_sanpham] ON 

INSERT [dbo].[tbl_sanpham] ([id], [id_danhmuc], [ten], [id_album_anh], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nhasanxuat], [CPU], [manhinh], [status]) VALUES (1, 1, N'Iphone Xs', 1, CAST(35000000 AS Decimal(12, 0)), 10, N'100       ', N'256       ', N'4         ', N'null', N'7         ', N'12        ', 2658, N'12                                                ', 5, 1, N'Apple A12', N'5.8', 0)
INSERT [dbo].[tbl_sanpham] ([id], [id_danhmuc], [ten], [id_album_anh], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nhasanxuat], [CPU], [manhinh], [status]) VALUES (2, 1, N'Iphone Xs Max', 2, CAST(40000000 AS Decimal(12, 0)), 10, N'100       ', N'512       ', N'4         ', N'0', N'7         ', N'12        ', 3174, N'12                                                ', 5, 1, N'Apple A12', N'6.5', 0)
INSERT [dbo].[tbl_sanpham] ([id], [id_danhmuc], [ten], [id_album_anh], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nhasanxuat], [CPU], [manhinh], [status]) VALUES (3, 1, N'Iphone X', 3, CAST(25000000 AS Decimal(12, 0)), 10, N'100       ', N'256       ', N'3         ', N'0', N'7         ', N'12        ', 2716, N'12                                                ', 5, 1, N'Apple A11', N'5.8', 1)
SET IDENTITY_INSERT [dbo].[tbl_sanpham] OFF
SET IDENTITY_INSERT [dbo].[tbl_taikhoan] ON 

INSERT [dbo].[tbl_taikhoan] ([id], [id_quyen], [id_nv], [tentaikhoan], [matkhau], [trangthai]) VALUES (1, 1, 1, N'admin', N'admin', 1)
INSERT [dbo].[tbl_taikhoan] ([id], [id_quyen], [id_nv], [tentaikhoan], [matkhau], [trangthai]) VALUES (2, 2, 2, N'tranvana', N'123', 1)
INSERT [dbo].[tbl_taikhoan] ([id], [id_quyen], [id_nv], [tentaikhoan], [matkhau], [trangthai]) VALUES (3, 2, 3, N'tranvanb', N'123', 1)
SET IDENTITY_INSERT [dbo].[tbl_taikhoan] OFF
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_dondathang] FOREIGN KEY([id_dondathang])
REFERENCES [dbo].[tbl_dondathang] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_dondathang]
GO
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_sanpham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[tbl_sanpham] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_sanpham]
GO
ALTER TABLE [dbo].[tbl_dondathang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_dondathang_tbl_khachhang] FOREIGN KEY([id_khachhang])
REFERENCES [dbo].[tbl_khachhang] ([id])
GO
ALTER TABLE [dbo].[tbl_dondathang] CHECK CONSTRAINT [FK_tbl_dondathang_tbl_khachhang]
GO
ALTER TABLE [dbo].[tbl_dondathang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_dondathang_tbl_nhanvien] FOREIGN KEY([id_nhanvien])
REFERENCES [dbo].[tbl_nhanvien] ([id])
GO
ALTER TABLE [dbo].[tbl_dondathang] CHECK CONSTRAINT [FK_tbl_dondathang_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_khachhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_khachhang_tbl_nguoinhan] FOREIGN KEY([id_themdiachi])
REFERENCES [dbo].[tbl_nguoinhan] ([id])
GO
ALTER TABLE [dbo].[tbl_khachhang] CHECK CONSTRAINT [FK_tbl_khachhang_tbl_nguoinhan]
GO
ALTER TABLE [dbo].[tbl_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sanpham_tbl_album_anh] FOREIGN KEY([id_album_anh])
REFERENCES [dbo].[tbl_album_anh] ([id])
GO
ALTER TABLE [dbo].[tbl_sanpham] CHECK CONSTRAINT [FK_tbl_sanpham_tbl_album_anh]
GO
ALTER TABLE [dbo].[tbl_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sanpham_tbl_danhmuc] FOREIGN KEY([id_danhmuc])
REFERENCES [dbo].[tbl_danhmuc] ([id])
GO
ALTER TABLE [dbo].[tbl_sanpham] CHECK CONSTRAINT [FK_tbl_sanpham_tbl_danhmuc]
GO
ALTER TABLE [dbo].[tbl_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sanpham_tbl_nhasanxuat] FOREIGN KEY([id_nhasanxuat])
REFERENCES [dbo].[tbl_nhasanxuat] ([id])
GO
ALTER TABLE [dbo].[tbl_sanpham] CHECK CONSTRAINT [FK_tbl_sanpham_tbl_nhasanxuat]
GO
ALTER TABLE [dbo].[tbl_taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_taikhoan_tbl_nhanvien] FOREIGN KEY([id_nv])
REFERENCES [dbo].[tbl_nhanvien] ([id])
GO
ALTER TABLE [dbo].[tbl_taikhoan] CHECK CONSTRAINT [FK_tbl_taikhoan_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_taikhoan_tbl_quyen] FOREIGN KEY([id_quyen])
REFERENCES [dbo].[tbl_quyen] ([id])
GO
ALTER TABLE [dbo].[tbl_taikhoan] CHECK CONSTRAINT [FK_tbl_taikhoan_tbl_quyen]
GO
CREATE PROC InsertPhone( @id_danhmuc INT, @ten nvarchar(150),  
						@gia int, @soluong int, @trongluong NCHAR(10), @ROM NCHAR(10), 
						@RAM NCHAR(10), @thenho NVARCHAR(50), @camera_truoc NCHAR(10), 
						@camera_sau NCHAR(10), @pin NCHAR(10), @baohanh NCHAR(10), 
						@bluetooth INT, @id_nhasanxuat INT , @CPU NCHAR(10), @manhinh NCHAR(10),
						@anh1 NVARCHAR(250), @anh2 NVARCHAR(250), @anh3 NVARCHAR(250), @anh4 NVARCHAR(250))
AS
	BEGIN
		INSERT INTO dbo.tbl_album_anh
		        ( anh1, anh2, anh3, anh4, temp )
		VALUES  ( @anh1, @anh2, @anh3, @anh4, 0)
		DECLARE @id_album_anh INT = (SELECT id 
									FROM dbo.tbl_album_anh AS alb
									WHERE alb.temp = 0
									)
		--PRINT @id_album_anh
		DECLARE @check1 INT = (SELECT COUNT(*) FROM dbo.tbl_sanpham)

		INSERT INTO dbo.tbl_sanpham
							( id_danhmuc , ten , id_album_anh ,  gia , soluong , trongluong , ROM , RAM , thenho , camera_truoc , camera_sau , pin , baohanh , bluetooth , id_nhasanxuat , CPU , manhinh , status )
							VALUES  
							( @id_danhmuc ,@ten , @id_album_anh , @gia, @soluong , @trongluong, @ROM, @RAM, @thenho , @camera_truoc , @camera_sau , @pin , @baohanh , @bluetooth ,@id_nhasanxuat , @CPU , @manhinh , 0 )
		
		DECLARE @check2 INT = (SELECT COUNT(*) FROM dbo.tbl_sanpham)

		IF	@check1 < @check2
			BEGIN 
				UPDATE dbo.tbl_album_anh
				SET temp = 1
				WHERE id  = @id_album_anh

				RETURN 1
			END
        ELSE 
			BEGIN
				DELETE FROM dbo.tbl_album_anh WHERE id = @id_album_anh

				RETURN 0
			END
            
	END
GO